<!--
  @Created By :      : Poonam Rathore
  @Created on        : 07-07-2021
  @last modified by  : Poonam Rathore
  Modifications Log 
  Ver   Date         Author           Modification
  1.0   07-07-2021   Poonam Rathore   Initial Version
-->
<template>
    <lightning-card title = "Account Table">
        <table class="slds-p-vertical_small slds-table slds-table_cell-buffer slds-table_bordered ">
            <thead>
                <template for:each={columns} for:item="col">
                    <th key={col.name} data-name={col.name} onclick={handleSort} >{col.label} 
                        <lightning-icon if:true={col.arrowDown} icon-name="utility:arrowdown" size="x-small" alternative-text="Preview" title="Preview">
                        </lightning-icon>
                        <lightning-icon if:true={col.arrowUp} icon-name="utility:arrowup" size="x-small" alternative-text="Preview" title="Preview">
                        </lightning-icon>
                    </th>  
                </template>
            </thead>
            <tbody>
                <template for:each={tableRecords} for:item="record">
                    <tr key={record.id}>
                        <td>{record.name}</td>
                        <td>{record.industry}</td>
                        <td>{record.site}</td>
                        <td>$ <lightning-formatted-number value={record.annualRevenue}></lightning-formatted-number> </td>
                        <td>{record.type}</td>
                        <td><lightning-formatted-date-time value={record.lastModifiedDate}  year="2-digit" month="short" day="2-digit" hour="numeric"
                            weekday="short" era="short"></lightning-formatted-date-time></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </lightning-card>
</template>